<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="A brand-new home-sharing web platform">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>FindATutor</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/guest_style.css') }}"/>
  </head>
  <body>
    <header>
      <div id="section1">
        <div id="title">
          <h1>FindATutor</h1>
        </div>
        <div id="subtitle">
          <h3>A platform for students in search of the right tutor</h3>
        </div>
      </div>
    </header>
    <main>
      <br/>
      <br/>
      <br/>
      <div id="mainsection">
        <br/>
        <h3>Filter your search by:</h3>
        <br/>
        {% from "_formhelpers.html" import render_field %}
          <form method=post>
            {{ render_field(form.subject) }}
            {{ render_field(form.town) }}
            {{ render_field(form.maxprice) }}
            <input type="submit" value="Search"/>
          </form>
        <br/>
        <h3>Tutors found:</h3>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
              {% for message in messages %}
              <li> <form method=post><input type="submit" onclick="alert('The tutor was notified!')" name="Tutor" class="tutors" value="{{ message }}"> </form></li>
                <br/>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      </div>
    </main>
  </body>

</html>
