#section1 {
  background-color: #2874A6;
  color: #F0F3F4;
  text-align: center;
}

#title {
  font-family:"Comic Sans MS", sans-serif, Arial;
}

ul {
  list-style-type: none;
}

#mainsection {
  width: 900px;
  margin-left: 400px;
  margin-right: auto;
}
